body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
}

h1 {
  margin-bottom: 4em;
}

.reload {
  margin: 3em;
  font-size: medium;
}

img {
  width: 8%;
}

img:hover {
  cursor: pointer;
}
